@import url("https://fonts.googleapis.com/css?family=Assistant");
body { font-family:"Assistant"; }
table { margin:2em 0 0 8em; position:relative; border-collapse:collapse; }
th { padding:0 1em 1.5em 0; }
tr { border-bottom:2px solid black; }
td { border:2px solid black; margin:0; padding:1em 1em 0.8em 1em; }
.thumb { padding:4px; width:fit-content; }
.album {  }
.artist {  }
.rating { width:10%; }
.date { width:6em; }

.visible { display:block; }
#filter {
    border:1px solid #1ED0D9;
    font-size:1em;
    height:3em;
    width:15em;
    margin-left:12em;
    margin-top:4em;
    border-radius:2px;
    padding:3px;
}
input[type="button"] {
    background:#1ED0D9;
    border:none;
    cursor:pointer;
    border-radius:2px;
    margin-left:1em;
    height:2em;
    width:4em;
}
#countresults { font-style:italic; margin-left:3em; }
#ssort { 
    margin-left:0.5em;
    cursor:pointer;
    font-style:italic;
    display:none;
    font-size:0.7em;
    /* background:blue; */
    /* text-decoration:underline; */
    padding:0.2em;
}
/* #ssort:hover { text-decoration:underline; } */
.dropmode { 
    position:absolute;
    top:25%;
    right:4em;
}
#sortmode-drop {
    border:1px solid #1ed0d9;
    font-size:0.8em;
    height:3em;
    width:12em;
    margin-left:1em;
}